.container {
  background-color: var(--grey-500);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: none;
  margin-top: 2rem;
}

.container + .container {
  margin-top: 1rem;
}

.checkbox {
  min-width: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 1.5rem 0;
}

.checkbox .icon > input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--blue-300);
  border-radius: 1rem;
  display: grid;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  outline: none;
  transition: background 0.4s;
}

.checkbox .icon > input[type=checkbox]:hover {
  background-color: var(--grey-600);
}

.checkbox .icon > input[type=checkbox]:checked {
  background-color: var(--purple-500);
  border: 2px solid var(--purple-500);
}

.checkbox .icon > input[type=checkbox]:checked:hover {
  background-color: var(--purple-300);
  border: 2px solid var(--purple-300);
}

.checkbox .icon > input[type=checkbox]:before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 1%, 80% 0%, 43% 62%);
  clip-path: polygon(10% 40%, 0 65%, 50% 100%, 100% 0, 80% 0, 45% 80%);
  transform: scale(0);
  transform-origin: center left;
  transition: transform 0.2 ease-in-out;
  background-color: var(--grey-200);
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}

.checkbox .icon > input[type=checkbox]:checked:before {
  transform: scale(0.725);
}

.textStriped {
  text-decoration: line-through;
  color: var(--grey-300);
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  width: 100%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  width: 100%;
}

.removeIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1.5rem;
  justify-content: flex-start;
}

.removeIcon > button {
  color: var(--grey-300);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2 ease-in-out;
  outline: none;
}

.removeIcon > button:hover {
  color: var(--red-300);
}
